<!-- MAIN (Center website) -->
{% load static %}
<html>
    <head>

<div class="main">

    <h1>Ankit Patil</h1>
    <hr>
    
    <h2>PORTFOLIO</h2>
    <p>Resize the browser window to see the responsive effect.</p>
    

    <!-- Portfolio Gallery Grid -->
    <link href="{% static 'css/portf.css' %}" rel="stylesheet" type="text/css"/>
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="{% static 'sage.jpg' %}" alt="Sage" style="width:100%">
          <h3>Nagato Uzumaki</h3>
          <p>Sage of Six Paths -- Rinnegan</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'naruto.jpg' %}" alt="Naruto" style="width:100%">
          <h3>Naruto Uzumaki</h3>
          <p>Nine Tails Spirit -- Jinchuriki</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'itachi.jpg' %}" alt="Itachi" style="width:100%">
          <h3>Itachi Uchiha</h3>
          <p>Mangekyu Sharingan -- Tsukiyomi</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'kakashi.jpg' %}" alt="Kakashi" style="width:100%">
          <h3>Kakashi Hatake</h3>
          <p>Copy Ninja (1000 Jutsu) -- Sharingan</p>
        </div>
      </div>
    </div>
    
    <div class="content">
      <img src="{% static 'itachi2.jpg' %}" alt="Itachi2" style="width:100%">
      <h3>Itachi Uchiha</h3>
      <p>Rogue Ninja __ Uchiha clan</p>
    </div>
    
    <!-- END MAIN -->
    </div>

</head>
</html>