<!-- MAIN (Center website) -->
{% load static %}
<html>
    <head>

<div class="main">

    <h1>Ankit Patil</h1>
    <hr>
    
    <h2>PORTFOLIO</h2>
    <p>Resize the browser window to see the responsive effect.</p>
    

    <!-- Portfolio Gallery Grid -->
    <link href="{% static 'css/portf.css' %}" rel="stylesheet" type="text/css"/>
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="sage.jpg" alt="Sage" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="naruto.jpg" alt="Naruto" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="itachi.jpg" alt="Itachi" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="kakashi.jpg" alt="Kakashi" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum..</p>
        </div>
      </div>
    </div>
    
    <div class="content">
      <img src="itachi2.jpg" alt="Itachi2" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum..</p>
    </div>
    
    <!-- END MAIN -->
    </div>

</head>
</html>